.no-top-margin {
    margin-top: 0;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.no-top-bottom-margin {
    margin-top: 0;
    margin-bottom: 0;
}

.no-padding {
    padding: 0;
}

ul {
    list-style-type: none;
}

.absolute {
   position: absolute;
}
.two-hundred {
    font-weight: 200;
}